 header{
			background-color:#011e29;
			color: white;
			text-align: center;
			width: 1100px;
	        
			 
		}
		.box{
			/* border: 0px solid green; */
			width:300px;height: 300px;
			/* display: inline; */
			/* background-color: blue; */
			margin-top:10px;
			display: inline-block;
			/* border-radius: 100px; */
			background-color: white;
			border-radius: 20px;
		}
		img{
            width: 120px;
            height: 70px;
			display:block;
			padding-left:90px;
			margin-top:4px;
			 
        }
		#a1{
			position:relative;
			bottom: 55px;
			height:180px;
		}
		#a2{
			position:relative;
			bottom:8px;
			height: 200px;
		}
        #a3{
			position: relative;
			bottom: 140px;
			   
		}
		body{
			background-color:whitesmoke;
		}
		li{
			padding-left: 20px;
		}